.title {
    text-align: center;
    margin-bottom: 50PX;
}

.subtitle {
    text-align: center;
    margin-bottom: 50PX;
}

td {
    width: 100px;
    height: 100px;
}

.grid_play {
    margin: 5px auto;
}

.box {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: white;
}

.box--disable {
    background-color: gray;
    cursor: auto;
}

.vertical_line {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.horizontal_line {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.hide-element {
    display: none;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

    margin-top: 100px;
}